<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.chug.north_outlet"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- wifi设备 -->
    <!--<uses-permission android:name="android.permission.RESTART_PACKAGES"/>-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.chug.north_outlet.App"
        android:allowBackup="true"
        android:icon="@drawable/north_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.chug.north_outlet.activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.chug.north_outlet.activity.MenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.chug.north_outlet.activity.ScanDeviceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.chug.north_outlet.activity.AddGroupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.chug.north_outlet.activity.SignInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.chug.north_outlet.activity.RegisterAccountActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.chug.north_outlet.activity.AddScheduleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.chug.north_outlet.activity.VideoPlayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.chug.north_outlet.activity.AddScanDeviceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.chug.north_outlet.activity.ForgotPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <meta-data
            android:name="DATABASE"
            android:value="WifiSocket.db"/>
        <meta-data
            android:name="VERSION"
            android:value=".1"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.wifi.socket"/>

        <!-- XLINK Intranet services -->
        <service android:name="io.xlink.wifi.sdk.XlinkUdpService"/>
        <!-- XLINK Public service -->
        <service android:name="io.xlink.wifi.sdk.XlinkTcpService"/>

        <activity
            android:name="com.chug.north_outlet.activity.AppIntroActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.chug.north_outlet.activity.EditGroupActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activity.EditScheduleActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:screenOrientation="portrait"
        />
    </application>

</manifest>